<h1  mat-dialog-title>{{editing !== true?'Create Sub Task':'Update Sub Task'}}</h1>

<div mat-dialog-content class="dialog__content">
  <div [formGroup]="form" class="container">
    <mat-form-field>
      <input matInput required placeholder="Task Title" formControlName="taskTitle">
    </mat-form-field>
    <mat-form-field>
      <input
        matInput
        required
        placeholder="Task Description"
        formControlName="taskDescription">
    </mat-form-field>
  </div>

</div>
<div mat-dialog-actions class="dialog-actions">
  <button mat-button color="primary" (click)="handleCancel()">Cancel</button>
  <button
    mat-button
    color="primary"
    (click)="handleSubmit()"
    [disabled]="form.invalid">
    {{editing !== true?'Create':'Update'}}
  </button>
</div>
