mat-toolbar {
  display: grid !important;
}

.sign-out {
  float: right;
}
.filter-fields {
  padding: 0.3em;
}
.filter {
  background: #f5f5f5;
  margin: 10px auto;
  width: 45%;
  border-radius: 5px;
}
button {
  margin-left: 10px;
}

@media only screen and (max-width: 767px) {
  .filter {
    padding-bottom: 5px;
    width: 60%;
  }
}
