<div class="container">
    <mat-card class="login-card">
      <mat-card-title>Log In</mat-card-title>
      <mat-card-content>
        <form [formGroup]="signInForm" (submit)="signIn()">
          <div class="mat-form-field-wrapper">
              <mat-form-field>
                <input matInput placeholder="Name" formControlName="name">
                <mat-error class="mat-caption mat-text-warn" *ngIf="signInForm.controls['name'].hasError('required') && signInForm.controls['name'].touched">
                  <span>Enter name to continue</span>
                </mat-error>
              </mat-form-field>
              <mat-form-field>
                <input matInput type="password" placeholder="Password" formControlName="password">
                <mat-error class="mat-caption mat-text-warn" *ngIf="signInForm.controls['password'].hasError('required') && signInForm.controls['password'].touched">
                  <span>Enter password to continue</span>
                </mat-error>
                <mat-error class="mat-caption mat-text-warn" *ngIf="signInForm.controls['password'].hasError('minlength') && signInForm.controls['password'].touched">
                  <span>Enter password of minimum length 6 </span>
                </mat-error>
              </mat-form-field>
            </div>
        </form>
        <button color="primary" mat-raised-button (click)="signIn()" [disabled]="!signInForm.valid">
              <mat-icon>check_circle</mat-icon>
              SIGN IN
            </button>
      </mat-card-content>
    </mat-card>
  </div>




