<mat-card>
  <mat-card-header>
    <mat-card-title><h3>Task Details</h3></mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div class="task-detail"><label>Task Title: </label>{{taskObj.taskTitle | titlecase}}</div>
    <div class="task-detail"><label>Task Description: </label>{{taskObj.taskDescription | titlecase}}</div>
    <div class="task-detail"><label>Task Created On: </label>{{taskObj.createdOn | date:'mediumDate'}}</div>
    <div class="task-detail"><label>Task Committed On: </label>{{taskObj.updatedOn |date: 'mediumDate'}}</div>
  </mat-card-content>
</mat-card>
