table {
  width: 100%;
  overflow-x: auto;
}
mat-dialog-actions {
  text-align: center;
}
mat-form-field {
  margin-top: 10px;
  width: 80%;
}
td.mat-cell.cdk-column-description.mat-column-description.ng-star-inserted {
  max-width: 365px;
}
